@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
 .title{
   margin: 50px;
   padding: 50px;
   background-color: crimson;
   border-radius: 15px;
   display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
 text-transform: uppercase;
@include mobile{
  margin: 15px;
  padding: 15px;
  position: fixed;
}
 }
 .title:hover{
   text-decoration: $mainColor underline;
 }

  h1 {
    font-size: 50px;

    @include mobile {
      font-size: 20px;
    }
  }
}

  h3 {
    
    text-decoration: underline 3px solid crimson;
    margin: 18px;
  }
  p {
    
    text-align: left;
    margin: 10px;
    line-height: 25px;
  }
  .languages {
    color: $mainColor;
  }

.cardd {
  background-color: crimson;
  color: white;
  padding: 1rem;
  height: 250px;
  border-radius: 10px;
}

.cardss {
  position: relative;
  max-width: 1800px;
  height: auto;
  margin-top: 50px;
  margin: 15px;
  display: grid;
  grid-gap: 1rem;
  border: 1px solid black;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cardss { grid-template-columns: repeat(2, 1fr);
   }
  
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  
  .cardss { grid-template-columns: repeat(3, 1fr); }


}
@media (max-width: 600px) {
  .title {
    display: none; 
     }
  .cardss { grid-template-columns: repeat(1, 1fr);
  height: auto;
  margin-top: 40px;
}
.cardd{
height: 250px;
}


}
.bnportfolio1 {
   
  display: inline-block;
  padding: 0.6em 1.7em;
  border: 0.1em solid  #333;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
width: 60%;
  text-align: center;
  transition: all 0.2s;
  color: WHITE;
  background-color: #333;

}

.bnportfolio1:hover {
  color: $mainColor;
  background-color: crimson;
  border: 0.1em solid $mainColor;
}

.bnportfolio2 {
  display: inline-block;
  padding: 0.6em 1.7em;
  border: 0.1em solid  rgb(51, 112, 51);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
width: 60%;
  text-align: center;
  transition: all 0.2s;
  color: WHITE;
  background-color: rgb(51, 112, 51);
}

.bnportfolio2:hover {
  color: $mainColor;
  background-color: crimson;
  border: 0.1em solid $mainColor;
}